<section class="h-150 md:h-130 lg:h-150 w-screen bg-gray-900" id="about">
    <div class="grid grid-cols-2 place-items-center">
        <div class="col-span-2 md:col-span-1 mt-15 m-2 md:m-0 md:mt-0 md:ml-7 lg:ml-25 md:p-10 bg-pink-100 rounded-3xl border-pink-200 border-1 drop-shadow-pink-300 drop-shadow-sm">
            <h2 class="text-center text-xl md:text-2xl lg:text-4xl">About</h2>
            <p class="text-sm md:text-base lg:text-xl m-1 text-center">Hi! I'm Kaitlyn Rossi, an Information Science student at the University of North Florida, graduating in Spring 2026 with a 3.91 GPA and a minor in Math. I’m passionate about web design and development and plan to pursue a master’s degree while starting my career as a developer in the Jacksonville or St. Augustine area.</p>
        </div>
        <div class=" col-span-2 md:col-span-1 mt-2 md:m-10 lg:m-20">
            <img class="block w-50 md:w-75 lg:h-100 drop-shadow-pink-300 drop-shadow-sm border-pink-200 border-1 rounded-sm" src="/Portrait.jpeg">
        </div>
    </div>
</section>
