<div class="flex flex-col items-center w-screen justify-center ">
<h1>Enchanted Forest Main</h1>
<div class="h-100 w-250 overflow-scroll bg-gray-100 rounded-lg border-gray-300 border-1 drop-shadow-xs drop-shadow-black">
<pre><code class="language-java">
    import java.io.File;
    import java.io.FileNotFoundException;
    import java.util.ArrayList;
    import java.util.List;
    import java.util.Scanner;
    
    public class Main &#123;
    
        public static void main(String[] args) &#123;
            EnchantedForest fairyGarden = new EnchantedForest();
            try (Scanner scn = new Scanner(System.in)) &#123;
                int userInput = -1;
                int power = 0;
    
                System.out.println("Welcome to the Enchanted Forest! Here you can manage the magical trees and "
                        + "discover their powers.\n");
    
                while (userInput != 0) &#123;
                    System.out.println("**Menu:**\n");
                    System.out.println("1. Plant a Tree");
                    System.out.println("2. Wither a Tree");
                    System.out.println("3. Find a Tree");
                    System.out.println("4. Explore Trees By Power");
                    System.out.println("5. Load Trees From File");
                    System.out.println("0. Exit\n");
                    System.out.println("Please Enter Your Choice:");
    
                    userInput = scn.nextInt();
    
                    switch (userInput) &#123;
                        case 1:
                            System.out.println("Enter a tree power and name:");
                            power = scn.nextInt();
                            String name = scn.nextLine();
                            name = name.trim();
                            fairyGarden.plantTree(power, name);
                            if (power &gt; 0) &#123;
                                System.out.println("Tree " + name + " with power " + power + " planted.\n");
                            &#125; else &#123;
                                System.out.println("Tree " + name + " with power " + power + " cannot be planted.\nNegative powers are not allowed.");
                            &#125;
                            break;
    
                        case 2:
                            System.out.println("Enter a power to wither:");
                            power = scn.nextInt();
                            if (fairyGarden.witherTree(power)) &#123;
                                System.out.println("Tree with power " + power + " removed.");
                            &#125; else &#123;
                                System.out.println("Tree with power " + power + " not found");
                            &#125;
                            break;
    
                        case 3:
                            System.out.println("Enter a power to search by:");
                            power = scn.nextInt();
                            EnchantedForest.TreeNode tree = fairyGarden.findTree(power);
                            if (tree == null) &#123;
                                System.out.println("No tree with that power exists");
                            &#125; else &#123;
                                System.out.println(tree.getName() + " " + tree.getPower());
                            &#125;
                            break;
    
                        case 4:
                            System.out.println("Enter a range query (lower bound and upper bound):");
                            int low = scn.nextInt();
                            int high = scn.nextInt();
                            List&lt;EnchantedForest.TreeNode&gt; list = new ArrayList&lt;&gt;();
                            list = fairyGarden.getTreesInRange(low, high);
                            for (EnchantedForest.TreeNode node : list) &#123;
                                System.out.println(node.getName() + " " + node.getPower());
                            &#125;
                            break;
    
                        case 5:
                            scn.nextLine();
                            System.out.println("Enter file name: ");
                            String fileName = scn.nextLine();
                            List&lt;String&gt; treeList = readText(fileName);
                            for (int i = 0; i &lt; treeList.size(); i++) &#123;
                                String data = treeList.get(i).toString();
                                String[] info = data.split(" ");
                                fairyGarden.plantTree(Integer.parseInt(info[0]), info[1]);
                            &#125;
                            System.out.println("\nLoading trees from " + fileName + "...\n");
                            break;
                    &#125;
                &#125;
                System.out.println("Goodbye");
                scn.close();
            &#125;
        &#125;
    
        public static List&lt;String&gt; readText(String fileName) &#123;
            List&lt;String&gt; list = new ArrayList&lt;&gt;();
            File myFile = new File(fileName);
            try &#123;
                Scanner scn = new Scanner(myFile);
    
                while (scn.hasNextLine()) &#123;
                    String data = scn.nextLine();
                    list.add(data);
                &#125;
                scn.close();
            &#125; catch (FileNotFoundException e) &#123;
                e.printStackTrace();
            &#125;
            return list;
        &#125;
    &#125;
    </code></pre>
</div>

    <h1>Enchanted Forest Code</h1>

<div class="h-100 w-250 overflow-scroll bg-gray-100 rounded-lg border-gray-300 border-1 drop-shadow-xs drop-shadow-black">
    <pre><code class="language-java">
        import java.util.ArrayList;
        import java.util.List;
        
        public class EnchantedForest &#123;
            
            private TreeNode root, parentOfCurrent;
        
            public EnchantedForest() &#123;&#125;
            
            static class TreeNode&#123;
                private int power;
                private String name;
                private boolean isRed;
                private TreeNode left, right, parent;
                
                TreeNode(int power, String name)&#123;
                    this.power = power;
                    this.name= name;
                    this.isRed = true;
                    left = right = parent = null;
                &#125;		
                
                public int getPower() &#123;
                    return power;
                &#125;
                
                public String getName() &#123;
                    return name;
                &#125;
            &#125;
        
            public void plantTree(int power, String name)&#123;
                TreeNode current = root;
                TreeNode z = new TreeNode(power, name);
                boolean isLeftChild = false;
                
                if(power &lt; 0) &#123;
                    return;
                &#125;
                
                if(current == null) &#123;
                    root = new TreeNode(power, name);
                    root.isRed = false;
                    return;
                &#125;
                
                while(current != null) &#123;
                    boolean isLess = current.power &lt; power;
                    if(current.power == power) &#123;
                        break;
                    &#125;
                    if(isLess &amp;&amp; current.right == null) &#123;
                        parentOfCurrent = current;
                        current.right = new TreeNode(power, name);
                        isLeftChild = false;
                    &#125; else if(!isLess &amp;&amp; current.left == null) &#123;
                        parentOfCurrent = current;
                        current.left = new TreeNode(power, name);
                        isLeftChild = true;
                    &#125;
                    if(isLess &amp;&amp; current.right != null) &#123;
                        current = current.right;
                    &#125; else if(!isLess &amp;&amp; current.left != null) &#123;
                        current = current.left;
                    &#125;
                &#125;
                z.parent = parentOfCurrent;
                if(isLeftChild) &#123;
                    parentOfCurrent.left = z;
                &#125; else &#123;
                    parentOfCurrent.right = z;
                &#125;
                
                while(z.parent != null &amp;&amp; z != root &amp;&amp; z.parent.isRed) &#123;
                    TreeNode y = uncle(z);
                    
                    if(y != null &amp;&amp; y.isRed ) &#123;
                        z.parent.isRed = false;
                        y.isRed = false;
                        z.parent.parent.isRed = true;
                        z = z.parent.parent;
                    &#125; else &#123;
                        boolean isCase2 = false;
                        if(isRightChild(z) &amp;&amp; isLeftChild(z.parent)) &#123;
                            isCase2 = true;
                            z = z.parent;
                            leftRotate(z);
                        &#125; else if(isLeftChild(z) &amp;&amp; isRightChild(z.parent)) &#123;
                            isCase2 = true;
                            z = z.parent;
                            rightRotate(z);
                        &#125;
                        
                        z.parent.isRed = false;
                        z.parent.parent.isRed = true;
                        if(isLeftChild(z.parent)) &#123;
                            if(!isCase2) &#123;
                                rightRotate(z.parent.parent);
                            &#125;
                        &#125; else &#123;
                            if(!isCase2) &#123;
                                leftRotate(z.parent.parent);
                            &#125;
                        &#125;	
                    &#125;
                &#125;
                root.isRed = false;
            &#125;
            
            public boolean witherTree(int power) &#123;
                TreeNode z = findTree(power);
                TreeNode node = new TreeNode(0, null);
                node.isRed = false;
                if (z == null) &#123;
                    return false; 
                &#125;
        
                TreeNode y = z;
                TreeNode x = null;
                boolean yOGColor = y.isRed;
        
                if (z.left == null) &#123;
                    if(z.right!= null) &#123;
                        x = z.right;
                    &#125; else &#123;
                        x = node;
                    &#125;
                    yOGColor = z.isRed;
                    if (z == root) &#123;
                        root = x;
                    &#125; else &#123;
                        if (isLeftChild(z)) &#123;
                            z.parent.left = x;
                        &#125; else &#123;
                            z.parent.right = x;
                        &#125;
                        if(x != null) &#123;
                            x.parent = z.parent;
                        &#125;
                    &#125;
                &#125; else if (z.right == null) &#123;
                    x = z.left;
                    yOGColor = z.isRed;
                    if (z == root) &#123;
                        root = x;
                    &#125; else &#123;
                        if (isLeftChild(z)) &#123;
                            z.parent.left = x;
                        &#125; else &#123;
                            z.parent.right = x;
                        &#125;
                        if(x != null) &#123;
                            x.parent = z.parent;
                        &#125;
                    &#125;
                &#125; else &#123;
                    y = z.right;
                    while (y.left != null) &#123;
                        y = y.left;
                    &#125;
                    yOGColor = y.isRed;
                    if(y.right == null) &#123;
                        x = node;
                    &#125; else &#123;
                        x = y.right;
                    &#125;
                &#125;
        
                if (y.parent != z) &#123;
                    if (y.parent != null) &#123;
                        if (isLeftChild(y)) &#123;
                            y.parent.left = x;
                        &#125; else if(isRightChild(y)) &#123;
                            y.parent.right = x;
                        &#125;
                    &#125;
                    if(x != null) &#123;
                        x.parent = y.parent;
                    &#125;
                    y.right = z.right;
                    if (z.right != null) &#123;
                        z.right.parent = y; 
                    &#125;
                &#125;
        
                if (z == root) &#123;
                    root = y;
                &#125; else if (isLeftChild(z)) &#123;
                    if(z.parent != null)
                        z.parent.left = y;
                &#125; else if (isRightChild(z)) &#123;
                    if(z.parent != null) 
                        z.parent.right = y;
                &#125;
        
                y.parent = z.parent;
                y.left = z.left;
                if (z.left != null) &#123; 
                    z.left.parent = y; 
                &#125;
                y.isRed = z.isRed;		        
        
                if (!yOGColor) &#123;
                    fixDelete(x);
                &#125;
                return true;
            &#125;
        
            public TreeNode findTree(int power) &#123;
                TreeNode current = root;
                while(current != null) &#123;
                    if(current.power == power) &#123;
                        return current;
                    &#125;
                    if(current.power &lt; power) &#123;
                        current = current.right;
                    &#125; else &#123;
                        current = current.left;
                    &#125;
                &#125;
                return null;	
            &#125;
        
            public List&lt;TreeNode&gt; getTreesInRange(int lowerBound, int upperBound)&#123;
                List&lt;TreeNode&gt; list = new ArrayList&lt;&gt;();
                inOrderTraversal(root, lowerBound, upperBound, list);
                return list;
            &#125;
        
            private void inOrderTraversal(TreeNode node, int low, int up, List&lt;TreeNode&gt; ls) &#123;
                if(node == null) return;
                inOrderTraversal(node.left, low, up, ls);
                if(node.power &gt; low &amp;&amp; node.power &lt; up) &#123;
                    ls.add(node);
                &#125;
                inOrderTraversal(node.right, low, up, ls);
            &#125;
                
            private boolean isLeftChild(TreeNode node) &#123;
                return node.parent != null &amp;&amp; node.parent.left == node;
            &#125;
            
            private boolean isRightChild(TreeNode node) &#123;
                return node.parent != null &amp;&amp; node.parent.right == node;
            &#125;
            
            private TreeNode uncle(TreeNode node)&#123;
                if(node.parent.parent == null) return null;
                if(isLeftChild(node.parent)) return node.parent.parent.right;
                if(isRightChild(node.parent)) return node.parent.parent.left;
                return null;
            &#125;
            
            private void leftRotate(TreeNode x) &#123;
                TreeNode y = x.right;
                x.right = y.left;
                if(y.left != null) y.left.parent = x;
                y.parent = x.parent;
                if(x.parent == null) &#123;
                    root = y;
                &#125; else if(x == x.parent.left) &#123;
                    x.parent.left = y;
                &#125; else &#123;
                    x.parent.right = y;
                &#125;
                y.left = x;
                x.parent = y;
            &#125;
            
            private void rightRotate(TreeNode y) &#123;
                TreeNode x = y.left;
                y.left = x.right;
                if(x.right != null) x.right.parent = y;
                x.parent = y.parent;
                if(y.parent == null) &#123;
                    root = x;
                &#125; else if(y == y.parent.right) &#123;
                    y.parent.right = x;
                &#125; else &#123;
                    y.parent.left = x;
                &#125;
                x.right = y;
                y.parent = x;
            &#125;
        
            private void fixDelete(TreeNode x) &#123;
                while(x != root &amp;&amp; !x.isRed) &#123;
                    if(isLeftChild(x)) &#123;
                        TreeNode w = x.parent.right;
                        if(w != null &amp;&amp; w.isRed) &#123;
                            w.isRed = false;
                            x.parent.isRed = true;
                            leftRotate(x.parent);
                            w = x.parent.right;	
                        &#125;
                        if(!w.right.isRed &amp;&amp; !w.left.isRed ) &#123;
                            w.isRed = true;
                            x = x.parent;
                        &#125; else &#123;
                            if(!w.right.isRed) &#123;
                                if(w.left != null) w.left.isRed = false;
                                w.isRed = true;
                                rightRotate(w);
                                w = x.parent.right;
                            &#125;
                            w.isRed = x.parent.isRed;
                            x.parent.isRed = false;
                            if(w.right != null) w.right.isRed = false;
                            leftRotate(x.parent);
                            x = root;
                        &#125;
                    &#125; else &#123;
                        TreeNode w = x.parent.left;
                        if(w != null &amp;&amp; w.isRed) &#123;
                            w.isRed = false;
                            x.parent.isRed = true;
                            rightRotate(x.parent);
                            w = x.parent.left;
                        &#125;
                        if(!w.right.isRed &amp;&amp; !w.left.isRed ) &#123;
                            w.isRed = true;
                            x = x.parent;
                        &#125; else &#123;
                            if(!w.left.isRed) &#123;
                                if(w.right != null) w.right.isRed = false;
                                w.isRed = true;
                                leftRotate(w);
                                w = x.parent.left;
                            &#125;
                            w.isRed = x.parent.isRed;
                            x.parent.isRed = false;
                            if(w.left != null) w.left.isRed = false;
                            rightRotate(x.parent);
                            x = root;	
                        &#125;		
                    &#125;
                &#125;
                x.isRed = false;
            &#125;
        &#125;
    </code></pre>
</div></div>

