<section class="h-100 md:h-75 lg:h-100" id="skills">
    <h2 class="text-center text-3xl text-shadow-pink-300 text-shadow-sm mt-5 lg:text-4xl">Skills</h2>

    <div class="grid grid-cols-4 place-items-center gap-2 m-1 mt-5">
        <div class="col-span-2 md:col-span-1 h-35 w-35 md:h-45 md:w-45 lg:h-65 lg:w-65 bg-gray-900 text-pink-50 rounded-3xl  transition-transform hover:scale-105 hover:bg-gray-950 hover:drop-shadow-lg hover:drop-shadow-pink-300">
            <h3 class="text-sm text-center mt-1 md:text-base lg:text-xl lg:mt-10">Languages</h3>
            <p class="text-center text-xs md:text-sm lg:text-lg">Proficient In:<br></p><p class=" md:text-sm lg:text-lg text-center text-xs mt-1 text-pink-200"> HTML, CSS, Java, JavaScript, TypeScript, SQL</p>
            <p class="text-center text-xs md:text-sm lg:text-lg">Understanding In:<br></p><p class="md:text-sm lg:text-lg text-center text-xs mt-1 text-pink-200"> C, C#, Python</p>
        </div>
        <div class="col-span-2 md:col-span-1  h-35 w-35  md:h-45 md:w-45  lg:h-65 lg:w-65 text-center bg-gray-900 text-pink-50 rounded-3xl  transition-transform hover:scale-105 hover:bg-gray-950 hover:drop-shadow-lg hover:drop-shadow-pink-300">
            <h3 class="text-sm text-center md:text-base lg:text-xl lg:mt-15">Frameworks</h3>
            <p class=" text-xs text-pink-200 md:text-sm lg:text-lg">Angular, TailwindCSS, Express, Typescript</p>
        </div>
        <div class="col-span-2 md:col-span-1  h-35 w-35  md:h-45 md:w-45  lg:h-65 lg:w-65 bg-gray-900 text-center text-pink-50 rounded-3xl  transition-transform hover:scale-105 hover:bg-gray-950 hover:drop-shadow-lg hover:drop-shadow-pink-300">
            <h3 class="m-1 text-sm text-center md:text-base lg:text-xl lg:mt-15">Tools</h3>
            <p class="m-1 text-xs text-pink-200 md:text-sm lg:text-lg">MySQL, GitHub, VS Code, Postman</p>
        </div>
        <div class="col-span-2 md:col-span-1 h-35 w-35 md:h-45 md:w-45 lg:h-65 lg:w-65 bg-gray-900 text-pink-50 rounded-3xl text-center transition-transform hover:scale-105 hover:bg-gray-950 hover:drop-shadow-lg hover:drop-shadow-pink-300">
            <h3 class="text-sm text-center md:text-base lg:text-xl lg:mt-15">Soft Skills</h3>
            <p class="m-1 text-xs text-pink-200 md:text-sm lg:text-lg">Problem Solving, Time Management, Organization, Collaboration</p>
        </div>
    </div>

</section>
