body{
    width: 100vw;
    height: 100vh;
    overflow-x:hidden;
    margin: 0;
    padding: 0;
}

#mainPage{
    background-image: url("ButterflySiteBackground.png");
    background-color: rgb(255, 239, 248);
    background-attachment:scroll;
    background-position: center top;
    position:absolute;
    background-repeat: no-repeat;
    width: 100vw;
    height: 100vh;
    top: 0;
}

#navBar{
    width: 100vw;
    height: 30px;
    position: absolute;
    background-color: rgb(255, 239, 248);
    z-index: 900;
}

#navBar > a{
    position: relative;
    left: 3%;
    top: 7px;
    margin-left: 3%;
    text-decoration: none;
    color: black;
}


#navBar >a:hover{
    text-decoration: underline;
}

#name{
   position: relative;
   left: 850px;
   top: 150px;
   font-family:cursive;
   text-shadow: 1px 1px 2px rgb(255, 211, 233), 2px 2px 3px rgb(255, 176, 217);
}

hr{
   position: relative;
   left: 195px;
   top: 130px;
   height: 2px;
   width: 15%;
   background-color: black;
}

h2{
   position: relative;
   left: 800px;
   top: 110px;
   font-family:cursive;
   text-shadow: 1px 1px 2px rgb(255, 211, 233), 2px 2px 3px rgb(255, 176, 217);
}

#biography{
    position: relative;
    top: 97%;
    width: 100vw;
    height: 70vh;
    background-color: rgb(250, 184, 218);
}

#bio{
    position: relative;
    font-family: cursive;
    font-size: 30px;
    top: 10px;
    left: 200px;
}

.bioParagraphs{
    position: relative;
    font-size: 20px;
    font-family: cursive;
    left: 100px;
    width: 500px;
}

#portrait{
    position: absolute;
    left: 60%;
    box-shadow: 5px 5px 20px;
}

#education{
    position: relative;
    top: 94%;
    width: 100vw;
    height: 80vh;
    background-color: black;
}

#listBox1{
    position: absolute;
    display: inline-block;
    width: 550px;
    height: 500px;
    background-color: rgb(255, 211, 233);
    margin-left: 7%;
    border-radius: 20px;
    box-shadow: 2px 2px 7px white;
}

#listBox2{
    position: absolute;
    display: inline-block;
    width: 550px;
    height: 500px;
    background-color: rgb(255, 211, 233);
    margin-left: 55%;
    border-radius: 20px;
    box-shadow: 2px 2px 7px white;
}

.text{
    left: 15px;
    top: 2px;
}

.classText{
    font-size: 18px;
    display: inline-block;
    margin-left: 6%;
    margin-bottom: 0px;
}

.classText > a{
    color: black;
}

.dateLineUp{
    margin-left: 12%;
}

.dateLineUp2{
    margin-left: 20%;
}

.topSpacing{
    margin-top: 10%;
}

.lineUp{
    margin-left: 41%;
}

#lineUp{
    margin-left: 19%;
}

#anotherLineUp{
    margin-left: 30%;
}

#anotherOne{
    margin-left: 10%;
}

li{
    width: 92%;
    margin: 7px;
}

#interests_skills{
    position: relative;
    top: 90%;
    width: 100vw;
    height: 30vh;
    background-color: rgb(255, 239, 248);
}

.interestText{
    position: relative;
    left: 20%;
    top: 10%;
}

#interestsHeader{
    position: relative;
    font-family: cursive;
    font-size: 30px;
    top: 35px;
    left: 200px;
}


#projectPage{
    background-color: rgb(255, 239, 248);
}

#butterfly{
    position: relative;
    left: 70%;
}

#projectsMain{
    position:absolute;
    background-repeat: no-repeat;
    width: 100vw;
    height: 100vh;
    top: 0;
}

#project1Title{
    position: absolute;
    margin-top: 7%;
    margin-left: 7%;
    font-family: cursive;
    z-index: 1000;
}

#project1Img{
    position: absolute;
    margin-top: -33%;
    left: 3%;
    border-radius: 25px;
    box-shadow: 5px 5px 25px rgb(255, 211, 233), 10px 10px 50px rgb(251, 159, 207), 1px 1px 20px rgb(134, 64, 100);
}

.pageDescription{
    position: relative;
    left: 67%;
    margin-top: -3%;
    margin-bottom: 5%;
    width: 450px;
}

#lightsaberLink{
    color: black;
}