<section class="h-100 md:h-screen w-screen" id="mainPage">
    <div class="absolute h-100 md:h-screen w-screen bg-[url('/ButterflySiteBackground.png')] bg-cover lg:bg-auto bg-center lg:bg-no-repeat">
        <div class="text-right mt-25 md:mt-35 lg:mt-40 md:text-2xl lg:text-4xl">
            <h1 class="mr-10 md:mr-37 lg:mr-105 text-shadow-xs text-shadow-pink-300" id="name">Kaitlyn Rossi</h1>
            <hr class="w-30 md:w-40 lg:w-60 ml-auto mr-7 md:mr-35 lg:mr-102.5"/>
            <h2 class="hidden lg:grid text-base mr-100">Software Developer | Web Designer</h2>
        </div>
    </div>
</section>